body{
  margin: 0;
}
.App {
  text-align: center;
}

.nav-bar{
  background-color:#A5243D;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.nav-bar-options {
  padding: 5px;
  margin-right: 10%;
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.nav-bar-auth-options{
  padding: 5px;
  margin-right: 10%;
  margin-left: 55%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.greetings {
  display: flex;
  margin-left: 50%;
  display: flex;
  justify-content: space-around;
  color: #F4CDD5;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-bar a{
  color: #F4CDD5;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

.logout{
  color: #F4CDD5;
  text-decoration: none;
  background-color: #A5243D;
  font-size: 1rem;
  padding-top: 15px;
}


.nav-bar img {
  max-height: 2rem;
}
.auth-form-style {
  margin: 5rem;
}

.collection-details-container{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

.details-btn-options {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;

}

.form-display {
  border: 4px solid black;
  margin: 10% auto;
  padding: 10px;
  color: #A5243D;
  border-radius: 25px;
}
.form-info {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  border: 2px solid #A5243D;
}

button {
  background-color: #F4CDD5;
  border: #F4CDD5;
  padding: 10px;
  border-radius: 5px;
  font: 1.5rem;
}
